.sprites, .youtube{
	background: url(sprites.png) no-repeat;
}

.sprites{
	background-position: 0 0;
	width: 640px;
	height: 480px;
}

.youtube{
	background-position: -314px -164px ;
	width: 20px;
	height: 16px;
}

