*,  *::before, *::after { 
	box-sizing: border-box; 
}

body {
  min-width: 1200px;
  font-weight: normal;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  /* по дополнительному параметру 25 , сказали прописывать по максимуму в боди то, что одинаково для все страницы*/
  color:#000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
} 

.main-navigation {
  width: 1200px;
  padding: 0 73px;
}

.main-navigation  ul{
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
  margin-bottom: -20px;
  z-index: 1;
}

.main-navigation li {
  display:inline-block;
  width: 20%;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: top;
  padding: 16px 0;
}

.main-navigation a {
  display: block;
  color: #000000;
  text-decoration: none;
}
.main-navigation .sedona {
  padding: 0;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation li:first-child {
  text-align: left;
}
 .main-navigation li:last-child {
  text-align: right;
}

.current {
  color: #766357;
}

.information {
  width: 1200px;
  padding-top: 63px; 
}
 
h2{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

}
.information h2 {
   width: 480px;
   margin: 0 auto;
   padding: 0 10px 31px;
   text-align: center;
   line-height: 26px;
}

p {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.information p {
   width: 520px;
   margin: 0 auto;
   padding: 0 10px 51px;
   line-height: 26px;
   text-align: center;
}

.reason {
   background: url("../img/town.jpg") no-repeat right;
}

.reason-description {
  width: 400px;
  float: left;
  background-color: #81b3d2;
  padding: 56px 0 20px;
}

h3{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.reason-description h3 {
  width: 190px;
  color: #ffffff;
  line-height: 21px;
  margin: 0 auto;
  padding: 0 10px 25px;
  text-align: center;
}

.reason-description p {
  width: 360px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 0 10px 25px;
}

.features { 
   font-size: 0px;
   margin: 0 auto;
   }

.features-information {
  width: 400px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.features-information span {
   display: block;
}
.home {
  margin: 54px auto 33px;
  width: 75px;
  height: 72px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -13px -15px;
}

.food {
  margin: 56px auto 33px;
  width: 74px;
  height: 70px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -110px -17px ;
}

.present {
  margin: 50px auto 33px;
  width: 64px;
  height: 76px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -213px -12px;
}

h4{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.features-information h4 {
  width: 122px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0 10px 28px;
}

.features-information p {
  width: 310px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0 10px 80px;
}

.around {
  background: url("../img/bridge.jpg") no-repeat left;
} 

 .round {
  float: right;
}

.two {
  background-color: #eeeeee;
  padding-top: 55px;
}

.features-information h3 {
  line-height: 21px;
  margin: 0 auto 26px;
}

.two .features-information p {
  line-height: 21px;
  margin: 0 auto 25px;
  padding:0;
}

.two .features-information p:last-child {
  margin-bottom: 66px;
}

.reservation-information {
 padding-top: 59px;
}

h5{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.reservation h5 {
  width: 338px;
  line-height: 30px;
  margin: 0 auto 32px;
  padding: 0 10px;
  text-align: center;
}

.reservation p {
  width: 474px;
  margin: 0 auto 49px;
  line-height: 24px;
  text-align: center;
}

.reservation-search {
  width: 568px;
  margin: 0 auto;
}

.reservation button {
  width: 568px;
  min-height: 86px;
  padding: 0;
  border-width: 0;
}

.btn {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #766357;
}

.search-entry {
  width: 568px;
  min-height: 395px;
}

.search-entry form {
  width: 458px;
  min-height: 285px;
  margin: 0 auto;
  padding-top: 55px;

}

.search-entry label {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}


input[type="date"] {
  width: 346px;
  min-height: 38px;
  background-color: #f2f2f2;
  border: 0;
  padding: 0;
  margin-bottom: 30px;
}
 
.search-man {
  font-size: 0px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  margin: 0 53px 54px 0;
}

.search-man span {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
}

.search-man :last-child {
  margin-right: 0;
}

/* цвет букв не меняет на черный*/
input[type="text"] {
  width: 114px;
  min-width: 38px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
  padding: 0;
}


input[type="submit"] {
  width: 458px;
  min-height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  border: 0;
  padding: 0;
}

.map {
  background: url("../img/map.jpg") no-repeat center;
  margin-bottom: - 120px;
}

.footer {
  position: relative;
  width: 1200px;
  min-height: 120px;
  padding-top: 36px;
  z-index: 1;
  background: rgba(255,255,255,0.7);
}

.footer-hashtag {
 float:left;
}

.footer-hashtag p {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  vertical-align: center;
  margin: 15px 256px 0 65px;
}

.footer-social {
  float:left;
 text-align: center;
  vertical-align: center;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  font-size: 0;
  vertical-align: middle;
  background: #81b3d2 url("../img/sprites.png") no-repeat center;
}

.twitter {
  background-position: -95px -100px;
}

.facebook {
  background-position: -50px -102px ;
 
}
.footer-website {
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -170px -103px;
}
.footer-website span {
  font-size: 14px;
  text-transform: uppercase;
  padding: 30px;
}

