*,  *::before, *::after { 
	box-sizing: border-box; 
}

body {
	font-family: PT Sans;
	color:#000000;
	font-weight: normal;
}

h2{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

}
h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

