*,  *::before, *::after { 
	box-sizing: border-box; 
}

body {
  min-width: 1200px;
  font-weight: normal;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color:#000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 20px 5px #dbdbdb;
} 

.main-navigation {
  width: 1200px;
  padding: 0 73px;
}

.main-navigation  ul{
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
  margin-bottom: -20px;
  z-index: 1;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: top;
  padding: 16px 0;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
}
.main-navigation .sedona {
  padding: 0;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation li:first-child {
  text-align: left;
}
 .main-navigation li:last-child {
  text-align: right;
}

.main-navigation .current {
  color: #766357;
}

.information {
  width: 1200px;
  padding-top: 63px; 
}
 
h2{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

}
.information h2 {
   width: 480px;
   margin: 0 auto;
   padding: 0 10px 31px;
   text-align: center;
   line-height: 26px;
}

p {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.information p {
   width: 520px;
   margin: 0 auto;
   padding: 0 10px 51px;
   line-height: 26px;
   text-align: center;
}

.reason {
   background: url("../img/town.jpg") no-repeat right;
}

.reason-description {
  width: 400px;
  float: left;
  background-color: #81b3d2;
  padding: 56px 0 20px;
}

h3{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.reason-description h3 {
  width: 190px;
  color: #ffffff;
  line-height: 21px;
  margin: 0 auto;
  padding: 0 10px 25px;
  text-align: center;
}

.reason-description p {
  width: 360px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 0 10px 25px;
}

.features { 
   font-size: 0px;
   margin: 0 auto;
}

.features-information {
  width: 400px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 50px;
}

.features-information span {
   display: block;
}

.home {
  margin: 0 auto 33px;
  width: 75px;
  height: 72px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -207px -60px;
}

.food {
  margin: 0 auto 33px;
  width: 74px;
  height: 70px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -109px -61px;
}

.present {
  margin: 0 auto 33px;
  width: 64px;
  height: 76px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -314px -64px;
}

h4{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.features-information h4 {
  width: 122px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0 10px 28px;
}

.features-information p {
  width: 310px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0 10px 80px;
}

.around {
  background: url("../img/bridge.jpg") no-repeat left;
} 

 .round {
  float: right;
}

.two {
  background-color: #eeeeee;
}

.features-information h3 {
  width: 120px;
  line-height: 21px;
  margin: 0 auto 24px;
}

.two .features-information p {
  line-height: 21px;
  margin: 0 auto 24px;
  padding:0;
}

.two .features-information p:last-child {
  margin-bottom: 53px;
}

.reservation-information {
 padding-top: 58px;
}

h5{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.reservation h5 {
  width: 338px;
  line-height: 30px;
  margin: 0 auto 33px;
  padding: 0 10px;
  text-align: center;
}

.reservation p {
  width: 474px;
  margin: 0 auto 49px;
  line-height: 24px;
  text-align: center;
}

.reservation-search {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.reservation button {
  width: 568px;
  min-height: 86px;
  padding: 0;
  border-width: 0;
}

.btn {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #766357;
}

.search-entry {
  position: absolute;
  background: #ffffff;
  width: 568px;
  z-index: 10;
  box-shadow: 0 3px 15px 1px #b0b0af;
}
 
.search-entry form {
  position: relative;
  width: 458px;
  margin: 0 auto;
  padding: 55px 0 55px;
}

.search-date {
  position: relative;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.search-date label {
  width: 112px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.search-date input[type="text"] {
  width: 360px;
  min-height: 38px;
  background: #f2f2f2;
  border: 0;
  padding: 0;
  padding: 0 9px 0 14px;
}

input::-webkit-input-placeholder {
 color: #000000;
 opacity: 1;
 font-size: 14px;
 font-weight: bold;
 line-height: 26px;
 text-transform: uppercase;
}

input::-moz-placeholder {
 color: #000000;
 opacity: 1;
 font-size: 14px;
 font-weight: bold;
 line-height: 26px;
 text-transform: uppercase;
}

input:-moz-placeholder {
  color: #000000;
  opacity: 1;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

input::-ms-placeholder {
  color: #000000;
  opacity: 1;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

input::placeholder {
  color: #000000;
  opacity: 1;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

input[type="text"]:hover {
  background-color: #ebebeb;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-date::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 11px;
  width: 21px;
  height: 22px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -13px -14px;
  z-index: 10;
}

.search-date:hover::before {
  width: 21px;
  height: 22px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -61px -15px;
}

.search-date:active::before {
  width: 21px;
  height: 22px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -110px -15px;
}

.search-man {
  position: relative;
  float: left;
  width: 50%;
  vertical-align: top;
  font-size: 0;
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.search-man label {
  width: 112px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-man:last-of-type label {
  padding-left: 50px;
}

.amount {
  display: inline-block;
  vertical-align: middle;
  background-color: #f2f2f2;
}
 
.amount span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  color: #a9a9a9;
  width: 38px;
  min-height: 38px;
  cursor: pointer;
}

.amount span:hover {
  color: #000000;
}

.amount span:active {
  color: #81b3d2;
}

.amount input[type="text"] {
  width: 38px;
  min-height: 38px;
  border: 0;
  margin: 0;
  padding: 0;
  background: #f2f2f2; 
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

input[type="submit"] {
  width: 458px;
  min-height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  border: 0;
  padding: 0;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #669ec0;
}

input[type="submit"]:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.map {
  background: url("../img/map.jpg") no-repeat center;
  margin-bottom: -120px;
}












.choose {
  background: url("../img/blur.jpg") no-repeat center;
}

.choose-infrastructure {
  border: 0;
  padding: 0;
  float: left;
  color: #ffffff;
  margin: 29px 0 0 73px;
}

.choose-infrastructure legend {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 21px;
}

.choose-infrastructure ul {
  border: 0;
  padding: 0;
  margin: 23px 0 32px 0;
  list-style-type: none;

}

.choose-infrastructure li {
  color: #ffffff;
  padding-bottom: 26px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 21px;
}

.choose-infrastructure li:last-child {
  padding-bottom: 0;
}

.choose-house {
  border: 0;
  padding: 0;
  float: left;
  color: #ffffff;
  margin: 29px 0 0 115px;
}

.choose-house ul {
  border: 0;
  padding: 0;
  margin: 20px 0 30px 0;
  list-style-type: none;
}

.choose-house li {
  color: #ffffff;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 21px;
}

.choose-house li:last-child {
  padding-bottom: 0;
}

.choose-cost {
  border: 0;
  padding: 0;
  float: right;
  margin: 29px 73px 0 0;
  color: #ffffff;
  width: 328px;
}


.choose-cost legend {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 21px;
}

.begin {
  display: inline-block;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  margin: 11px 0 20px 0;
  width: 160px;
  min-height: 36px;
  padding: 13px 0 0 67px;
  text-align: center;
  vertical-align: middle;
}

.end {
  display: inline-block;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  margin: 11px 0 20px 0;
  width: 160px;
  min-height: 36px;
  padding: 13px 52px 0 0;
  text-align: center;
  vertical-align: middle;
}


.choose-cost span {
  border-right: 2px solid #ffffff;
}

.choose-cost input [type="range"] {
  display: block;
  width: 138px;
  margin: 0 auto;
  cursor: pointer;
}

.choose-cost input[type="submit"] {
  border: 2px solid #ffffff;
   width: 137px;
   min-height: 36px;
  background-color: transparent;
  margin-left: 85px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 21px;
}

.choose-cost input[type="submit"]:hover {
 background-color: #ffffff;
 color: #000000;
}

.result {
  padding-top: 31px;
}

.result-options {
  position: relative;
  font-size: 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 31px;
}

.result-options h2 {
  display: inline-block;
  line-height: 26px;
  margin: 0;
  margin: 0 50px 0 73px;
  vertical-align: top;

}

.result-options p {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  margin: 0;
  
}

.result-sorting {
  display: inline-block;
  list-style-type: none;
  padding-left: 41px;
  vertical-align: middle;
}

.result-sorting li {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding-right: 34px;
  vertical-align: middle;
}

.result-sorting a {
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

.result-sorting .active {
  color: #81b3d2;
  border-bottom: none;
}

.result-sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

.result-sorting a:active {
  color: #000000;
  border-bottom: 0;
}

.result-options .up::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 97px;
  width: 11px;
  height: 10px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -368px -268px;
  z-index: 10;
}

.result-options .down::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 73px;
  width: 11px;
  height: 10px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -367px -19px;
  z-index: 10;
}

.result-options .up:hover::before  {
  background: url("../img/sprites.png") no-repeat;
  background-position: -321px -267px;
}

.result-options .down:hover::before  {
  background: url("../img/sprites.png") no-repeat;
  background-position: -315px -17px;
}

.result-options .up:active::before  {
  background: url("../img/sprites.png") no-repeat;
  background-position: -269px -268px;
}

.result-options .down:active::before  {
  background: url("../img/sprites.png") no-repeat;
  background-position: -267px -16px;
}

.search-item {
  position: relative;
  margin-top: 30px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0;
}

.search-item figure {
  display: inline-block;
  margin: 0 30px 31px 73px;
  vertical-align: top;
}

.description {
  display: inline-block;
  vertical-align: top;
}

.description h2 {
  margin: -3px 0 10px 0;
  line-height: 26px;
}

.description h2:hover {
 color: #81b3d2;
 cursor: pointer;
}

.description h2:active {
 color: #cacaca;
 cursor: pointer;
}

.description p {
  display: inline-block;
  line-height: 21px;
  margin: 0 40px 10px 0;
  padding:0;
  vertical-align: middle;
}

.description span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.push {
  font-size: 0;
}

.push .more-btn {
  display: inline-block;
  background-color: #81b3d2;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  width: 110px;
  height: 27px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  margin-right: 6px;
}

.push .book-btn {
  display: inline-block;
  background-color: #766357;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  width: 142px;
  height: 27px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.push .more-btn:hover {
  background-color: #669ec0;
}

 .push .book-btn:hover {
  background-color: #604e43;
} 

.push .more-btn:active {
   background-color: #5496bd;
   color: #88b6d1;
}

.push .book-btn:active {
  background-color: #503e33;
  color: #857871;
}

.amara::before {
  content: "";
  position: absolute;
  top: 0;
  right: 73px;
  width: 89px;
  height: 17px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -6px -66px;
  z-index: 10;
}

.desert::before {
  content: "";
  position: absolute;
  top: 0;
  right: 73px;
  width: 65px;
  height: 17px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -15px -111px;
  z-index: 10;
}

.villas::before {
  content: "";
  position: absolute;
  top: 0;
  right: 73px;
  width: 42px;
  height: 17px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -28px -162px;
  z-index: 10;
}
 
 .estimate {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  background-color: #f2f2f2;
  right: 73px;
  bottom: 31px;
  width: 110px;
  min-height: 27px;
  color: #000000;
 }







 


.footer {
  position: relative;
  width: 1200px;
  min-height: 120px;
  font-size:0;
  z-index: 1;
  background: rgba(255,255,255,0.8);
}

.footer-hashtag {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
  text-align: center; 
  font-size:0;
  padding-top: 48px;
}

.footer-hashtag p {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  margin: 0;
}

.footer-social {
  display: inline-block;
  font-size:0;
  width: 400px;
  vertical-align: middle;
  text-align: center;
  padding-top: 36px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  margin-right: 6px;
  background: #81b3d2 url("../img/sprites.png") no-repeat center;
}

.social-btn:hover {
  background: #669ec0 url("../img/sprites.png") no-repeat center;
}

.social-btn:active {
  background: #5496bd url("../img/sprites.png") no-repeat center;
}

.social-btn:last-child {
  margin-right: 0;
}

.twitter {
  background-position: -402px -52px;
}

.twitter:hover {
  background-position: -402px -52px;
}

.twitter:active {
  background-position: -449px -49px;
}

.facebook {
  background-position: -397px -4px;
}

.facebook:hover {
  background-position: -397px -4px;
}

.facebook:active {
  background-position: -449px -3px;
}

.youtube {
  background-position: -402px -101px;
}

.youtube:hover {
  background-position: -402px -101px;
}

.youtube:active {
  background-position: -454px -102px;
 }
 
.footer-website {
  width: 400px;
  display: inline-block;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  padding-top: 41px;
}

.footer-website span {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  vertical-align: middle;
}

.footer-website .academy {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 9px;
  width: 113px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat center;
  background-position: -113px -156px;
}

.academy:hover {
  width: 113px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat center;
  background-position: -112px -206px;
}

.academy:active {
  width: 113px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat center;
  background-position: -114px -254px;
}