.calendar, .calendar-black, .calendar-blue, .checked, .checked-gray, .down-black, .down-blue, .down-gray, .facebook, .facebook-2, .fourstars, .food, .house, .present, .htmlacademy, .htmlacademy-blue, .htmlacademy-gray, .nochecked, .nochecked-gray, .slider-blue, .slider-gray, .threestars, .twostars, .twiter, .twiter-2, .youtube, .youtube-2, .up-black, .up-blue, .up-gray{
	background: url(sprites.png) no-repeat;
}

.calendar{
	background-position: -13px -14px ;
	width: 21px;
	height: 22px;
}

.calendar-black{
	background-position: -61px -15px ;
	width: 21px;
	height: 22px;
}

.calendar-blue{
	background-position: -110px -15px ;
	width: 21px;
	height: 22px;
}

.checked{
	background-position: -159px -14px ;
	width: 26px;
	height: 22px;
}

.checked-gray{
	background-position: -208px -11px ;
	width: 26px;
	height: 22px;
}

.down-black{
	background-position: -267px -16px ;
	width: 11px;
	height: 10px;
}

.down-blue{
	background-position: -315px -17px ;
	width: 11px;
	height: 10px;
}

.down-gray{
	background-position: -367px -19px ;
	width: 11px;
	height: 10px;
}

.facebook{
	background-position: -414px -15px ;
	width: 10px;
	height: 19px;
}

.facebook-2{
	background-position: -466px -14px ;
	width: 10px;
	height: 19px;
}

.fourstars{
	background-position: -6px -66px ;
	width: 89px;
	height: 17px;
}

.food{
	background-position: -109px -61px ;
	width: 74px;
	height: 70px;
}

.house{
	background-position: -207px -60px ;
	width: 75px;
	height: 72px;
}

.present{
	background-position: -314px -64px ;
	width: 64px;
	height: 76px;
}

.htmlacademy{
	background-position: -113px -156px ;
	width: 113px;
	height: 39px;
}

.htmlacademy-blue{
	background-position: -112px -206px ;
	width: 113px;
	height: 39px;
}

.htmlacademy-gray{
	background-position: -114px -254px ;
	width: 113px;
	height: 39px;
}

.nochecked{
	background-position: -258px -161px ;
	width: 22px;
	height: 22px;
}

.nochecked-gray{
	background-position: -312px -164px ;
	width: 22px;
	height: 22px;
}

.slider-blue{
	background-position: -263px -211px ;
	width: 20px;
	height: 23px;
}

.slider-gray{
	background-position: -312px -212px ;
	width: 20px;
	height: 23px;
}

.threestars{
	background-position: -15px -111px ;
	width: 65px;
	height: 17px;
}

.twostars{
	background-position: -28px -162px ;
	width: 42px;
	height: 17px;
}

.twiter{
	background-position: -416px -67px;
	width: 17px;
	height: 15px;
}

.twiter-2{
	background-position: -463px -64px ;
	width: 17px;
	height: 15px;
}

.youtube{
	background-position: -414px -116px ;
	width: 20px;
	height: 16px;
}

.youtube-2{
	background-position: -466px -117px ;
	width: 20px;
	height: 16px;
}

.up-black{
	background-position: -269px -268px ;
	width: 11px;
	height: 10px;
}

.up-blue{
	background-position: -321px -267px ;
	width: 11px;
	height: 10px;
}

.up-gray{
	background-position: -368px -268px ;
	width: 11px;
	height: 10px;
}

