.calendar, .calendar-black, .calendar-blue, .checked, .checked-gray, .down-black, .down-blue, .down-gray, .facebook, .facebook-2, .food, .house, .present, .fourstars, .threestars, .twostars, .htmlacademy, .htmlacademy-blue, .htmlacademy-gray, .nochecked, .nochecked-gray, .slider-blue, .slider-gray, .twiter, .twiter-2, .youtube, .youtube-2, .up-black, .up-blue, .up-gray{
	background: url(sprites.png) no-repeat;
}

.calendar{
	background-position: -14px -13px ;
	width: 21px;
	height: 22px;
}

.calendar-black{
	background-position: -59px -12px ;
	width: 21px;
	height: 22px;
}

.calendar-blue{
	background-position: -110px -13px ;
	width: 21px;
	height: 22px;
}

.checked{
	background-position: -156px -15px ;
	width: 26px;
	height: 22px;
}

.checked-gray{
	background-position: -209px -10px ;
	width: 26px;
	height: 22px;
}

.down-black{
	background-position: -266px -20px ;
	width: 11px;
	height: 10px;
}

.down-blue{
	background-position: -317px -22px ;
	width: 11px;
	height: 10px;
}

.down-gray{
	background-position: -366px -22px ;
	width: 11px;
	height: 10px;
}

.facebook{
	background-position: -418px -17px ;
	width: 10px;
	height: 19px;
}

.facebook-2{
	background-position: -470px -16px ;
	width: 10px;
	height: 19px;
}

.food{
	background-position: -13px -65px ;
	width: 74px;
	height: 70px;
}

.house{
	background-position: -107px -64px ;
	width: 75px;
	height: 72px;
}

.present{
	background-position: -214px -65px ;
	width: 64px;
	height: 76px;
}

.fourstars{
	background-position: -306px -61px ;
	width: 89px;
	height: 17px;
}

.threestars{
	background-position: -314px -113px ;
	width: 65px;
	height: 17px;
}

.twostars{
	background-position: -324px -164px ;
	width: 42px;
	height: 17px;
}

.htmlacademy{
	background-position: -24px -156px ;
	width: 113px;
	height: 39px;
}

.htmlacademy-blue{
	background-position: -20px -202px ;
	width: 113px;
	height: 39px;
}

.htmlacademy-gray{
	background-position: -23px -255px ;
	width: 113px;
	height: 39px;
}

.nochecked{
	background-position: -165px -163px ;
	width: 22px;
	height: 22px;
}

.nochecked-gray{
	background-position: -212px -165px ;
	width: 22px;
	height: 22px;
}

.slider-blue{
	background-position: -159px -214px ;
	width: 21px;
	height: 23px;
}

.slider-gray{
	background-position: -213px -213px ;
	width: 21px;
	height: 23px;
}

.twiter{
	background-position: -161px -265px ;
	width: 17px;
	height: 15px;
}

.twiter-2{
	background-position: -214px -268px ;
	width: 17px;
	height: 15px;
}

.youtube{
	background-position: -267px -164px ;
	width: 20px;
	height: 16px;
}

.youtube-2{
	background-position: -261px -213px ;
	width: 20px;
	height: 16px;
}

.up-black{
	background-position: -21px -315px ;
	width: 11px;
	height: 10px;
}

.up-blue{
	background-position: -67px -315px ;
	width: 11px;
	height: 10px;
}

.up-gray{
	background-position: -116px -315px ;
	width: 11px;
	height: 10px;
}

